$mobile: '576px';
$desktop: '992px';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





body {
    display: grid;
    grid-template-areas:
    "header"
    "filter"
    "main"
    "footer"
    ;
    grid-template-rows: 90px 77px 1fr 90px;
    height: 100vh;
    
    header {
        color: rgb(142, 202, 230);
        grid-area: header;
        background-color: rgb(2, 48, 71);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .header_title {
            display: flex;
            align-items: center;
            gap: 15px;
            img {
                color: rgb(251, 133, 0);
                width: 60px;
            }
            h1 {
                text-transform: uppercase;
            }
        }

        .header_nav {
            #menu_btn {
                display: none;
            }
            i {
                font-size: 30px;
            }

            nav {
                display: none;
                ul {
                    list-style: none;
                }
            }
        }
    }
    .order {
        color: rgb(2, 48, 71);
        grid-area: filter;
        background-color: rgb(251, 133, 0);
        padding: 20px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    main {
        grid-area: main;
        color: rgb(2, 48, 71);
        background-color: rgb(142, 202, 230);
        .card_container {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 10px;
            border-radius: 15px;

            img {
                width: 200px;
            }
        }
    }

    footer {
        color: rgb(142, 202, 230);
        grid-area: footer;
        background-color: rgb(2, 48, 71);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $mobile) and (max-width: $desktop) {
    h1 {
        font-size: 2;
    }

    body{
    grid-template-areas:
    "header header header"
    "filter main main"
    "footer footer footer";
    grid-template-rows: 90px 1fr 90px;
    grid-template-columns: 200px 1fr;
    }
    
}